$maincolor: #1f2833
$secondcolor: #363e48
$textcolor: #000000
$textcolor-hover: #003162
$buttoncolor: linear-gradient(90deg, rgb(179,8,0) 0%, rgb(255,14,0) 100%)
$buttoncolor-hover: linear-gradient(-90deg, rgb(179,8,0) 0%, rgb(255,14,0) 100%)
$redcolor: #ff0e00
$yellowcolor: #ffb400
$whitecolor: #fff
$blackcolor: #000
$hovercolor: rgba(0,0,0,.7)